  :root {
      --backgroundColor: #211A4E;
      --highlightColor: #4856ee;
      --highlightColor2: #be1499;
      --blackBackground: #111;
      --mainBackground: white;

      --defaultPadding: 20px;
      --buttonBorderRadius: 8px;
      --uiBorderRadius: 12px;
      --borderSize: 3px;
  }

  @font-face {
      font-family: 'dogicaPixelFont';
      src: url('fonts/dogicapixel.ttf');
  }

  @font-face {
      font-family: 'dogicaPixelBoldFont';
      src: url('fonts/dogicapixelbold.ttf');
  }

  * {
      font-family: 'dogicaPixelFont';
      color: white;
      line-height: 1.5;
  }

  html,
  body {
      height: 100%;
  }


  button {
      background-color: var(--highlightColor);
      padding: var(--defaultPadding);
      border-radius: var(--buttonBorderRadius);
      border-style: none;
  }

  button.alternative {
      outline: 3px solid var(--highlightColor);
      outline-offset: -3px;
      background: none;
      color: var(--highlightColor);
      font-family: 'dogicaPixelBoldFont';
  }

  h1 {
      font-family: 'dogicaPixelBoldFont';
  }

  body {
      background-color: var(--backgroundColor);
      margin: 0;
      padding: 0;
  }

  p {
      text-align: justify;
  }

  div.main {
      display: inline-table;
  }

  /* NavBar */
  ul.nav {
      list-style: none;
      background-color: white;
      border-radius: var(--uiBorderRadius);
      display: flex;

      width: auto;
      padding: 5px;

      right: 0;
      position: absolute;
  }


  li a.nav {
      text-decoration: none;
      color: black;
      font-size: small;
      padding: var(--defaultPadding);
  }

  @media (max-width: 700px) {
      ul.nav {
          display: none;
      }
  }

  a.navDownload {
      background-color: var(--highlightColor);
      padding: var(--buttonBorderRadius);
      border-radius: var(--buttonBorderRadius);
      margin-right: -5px;
  }

  footer {
      background-color: var(--mainBackground);
      margin: 0;
      padding: var(--defaultPadding);
      color: black;
      font-size: smaller;
      text-align: center;
  }


  /* ScrollBar */
  ::-webkit-scrollbar {
      width: 8px;
  }

  ::-webkit-scrollbar-thumb {
      background: var(--highlightColor);
      border-radius: 10px;
  }

  /* SideMenu */
  .sidenav {
      display: none;
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }

  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }

  .sidenav a:hover {
      color: #f1f1f1;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  .menuIcon {
      position: fixed;
      right: 0;
      display: none;
      align-self: center;
      font-size: smaller;
      background-color: var(--blackBackground);
      cursor: pointer;
  }

  @media screen and (max-width: 720px) {
      .menuIcon {
          display: block;
      }
  }