  :root {
      /* colors */
      --backgroundColor: #211A4E;
      --highlightColor: rgb(121, 59, 221);
      --highlightColor2: #be1499;
      --blackBackground: #111;
      --mainBackground: white;
      --windowBackground: #312864;
      --defaultShadowColor: rgba(19, 19, 19, 0.397);

      /* sizes */
      --defaultDivPadding: 32px;
      --defaultMargin: 32px;
      --defaultPadding: 20px;
      --buttonBorderRadius: 8px;
      --uiBorderRadius: 12px;
      --borderSize: 3px;

      /* misc */
      --defaultShadow: 0 4px 24px var(--defaultShadowColor);
  }

  @font-face {
      font-family: 'MainFont';
      src: url('fonts/DepartureMonoNerdFontPropo-Regular.otf');
  }

  * {
      font-family: 'MainFont';
      color: white;
      line-height: 1.5;
      transition: all 0.3s ease-in-out;
  }

  html,
  body {
      height: 100%;
  }

  button {
      transition: filter 0.3s ease;
      background-color: var(--highlightColor);
      padding: var(--defaultPadding);
      border-radius: var(--buttonBorderRadius);
      border-style: none;
  }

  button.alternative {
      outline: 4px solid var(--highlightColor);
      outline-offset: -4px;
      background: none;
      color: var(--highlightColor);
      font-weight: bolder;
  }

  h1 {
      font-weight: bolder;
  }

  body {
      background-color: var(--backgroundColor);
      margin: 0;
      padding: 0;
  }

  p {
      text-align: justify;
  }

  div.main {
      display: inline-table;
  }

  /* NavBar */
  ul.nav {
      list-style: none;
      background-color: white;
      border-radius: var(--uiBorderRadius);
      display: flex;
      padding: 5px;
      top: 5px;
      right: 10px;
      position: fixed;
  }

  li a.nav {
      text-decoration: none;
      color: black;
      font-size: small;
      padding: var(--defaultPadding);
  }

  @media (max-width: 700px) {
      ul.nav {
          display: none;
      }
  }

  a.navDownload {
      background-color: var(--highlightColor);
      border-radius: var(--buttonBorderRadius);
      margin-right: -5px;
      color: white;
      text-decoration: none;
      padding: var(--defaultPadding);
  }

  .nav a:hover {
      filter: brightness(50%);
      color: pink;
  }

  button:hover {
      filter: brightness(50%);
      color: pink;
  }

  footer {
      background-color: var(--mainBackground);
      margin: 0;
      padding: var(--defaultPadding);
      color: black;
      font-size: smaller;
      text-align: center;
  }

  /* ScrollBar */
  ::-webkit-scrollbar {
      width: 8px;
  }

  ::-webkit-scrollbar-thumb {
      background: var(--highlightColor);
      border-radius: 10px;
  }

  .menuIcon {
      position: fixed;
      top: 10px;
      right: 20px;
      display: none;
      align-self: center;
      font-size: smaller;
      background-color: var(--highlightColor);
      cursor: pointer;
  }

  div.textToImage {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .closebtn {
      display: none;
  }

  @media (max-width: 900px) {
      .menuIcon {
          display: block;
      }

      ul.nav {
          margin: 0;
          height: 100%;
          width: 0px;
          position: fixed;
          z-index: 1;
          top: 0;
          right: -10px;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          display: block;
          border-radius: 0;
          text-align: center;
      }

      li .closebtn {
          text-decoration: none;
          display: block;
      }

      .nav li a.navDownload {
          background: none;
          padding: 0px;
      }

      .nav li a {
          padding: 16px;
          border-radius: var(--buttonBorderRadius);
          color: white;
          font-size: medium;
      }

      .nav li {
          border-radius: var(--buttonBorderRadius);
          background-color: #29263f;
          margin: 16px;
          padding: 8px;
      }

      .nav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      div.textToImage {
          flex-direction: column;
          align-items: flex-start;
      }
  }

  .navActive {
      color: var(--highlightColor2) !important;
      font-weight: bolder;
  }