  :root {
      --backgroundColor: #211A4E;
      --highlightColor: #4856ee;

      --defaultPadding: 20px;
      --buttonBorderRadius: 8px;
      --uiBorderRadius: 12px;

      --mainBackground: white;

      --borderSize: 3px;
  }

  @font-face {
      font-family: 'dogicaPixelFont';
      src: url('fonts/dogicapixel.ttf');
  }

  @font-face {
      font-family: 'dogicaPixelBoldFont';
      src: url('fonts/dogicapixelbold.ttf');
  }

  * {
      font-family: 'dogicaPixelFont';
      color: white;
      line-height: 1.5;
  }

  button {
      background-color: var(--highlightColor);
      padding: var(--defaultPadding);
      border-radius: var(--buttonBorderRadius);
      border-style: none;
  }

  button.alternative {
      outline: 3px solid var(--highlightColor);
      outline-offset: -3px;
      background: none;
      color: var(--highlightColor);
      font-family: 'dogicaPixelBoldFont';
  }

  h1 {
      font-family: 'dogicaPixelBoldFont';
  }

  body {
      background-color: var(--backgroundColor);
      margin: 0;
      padding: 0;
  }

  p {
      text-align: justify;
  }

  div.main {
      display: inline-table;
  }

  /* NavBar */
  ul.nav {
      list-style: none;
      background-color: white;
      border-radius: var(--uiBorderRadius);
      display: flex;

      width: auto;
      padding: 5px;


      right: 0;
      position: absolute;
  }

  li a.nav {
      text-decoration: none;
      color: black;
      font-size: small;
      padding: var(--defaultPadding);
  }

  @media (max-width: 700px) {}

  a.navDownload {
      background-color: var(--highlightColor);
      padding: var(--buttonBorderRadius);
      border-radius: var(--buttonBorderRadius);
      margin-right: -5px;
  }

  footer {
      background-color: var(--mainBackground);
      margin: 0;
      padding: var(--defaultPadding);
      color: black;
      font-size: smaller;
      text-align: center;
  }

  ::-webkit-scrollbar {
      width: 8px;
  }

  ::-webkit-scrollbar-thumb {
      background: var(--highlightColor);
      border-radius: 10px;
  }