* {
    box-sizing: border-box;

}

body {
    text-align: center;
}

.main {
    background: var(--windowBackground);
    box-shadow: var(--defaultShadow);
    padding: var(--defaultPadding);
    width: 100%;
}

.title h1 {
    text-align: left;
    color: var(--highlightColor2);
    border-left: 4px solid var(--highlightColor2);
    padding-left: 0.6rem;
}

.researchDesc {
    text-align: justify;
    color: var(--textSecondary);
}

.iframeContainer {
    width: 100%;
    height: 90vh;
    border: none;
    box-shadow: var(--defaultShadow);
}

@media (max-width: 900px) {
    .iframeContainer {
        height: 85vh;
    }
}