* {
    box-sizing: border-box;
}


body {
    text-align: center;
    padding: 0;
}

.main {
    box-shadow: var(--defaultShadow);
    background: var(--windowBackground);
    border-radius: var(--uiBorderRadius);
    padding: var(--defaultDivPadding);
    width: 60%;
    margin: var(--defaultMargin) auto;
}

.title h1 {
    text-align: left;
    color: var(--highlightColor2);
}

.researchDesc {
    text-align: justify;
}

.iframeContainer {
    width: 60%;
    height: 95vh;
    box-shadow: var(--defaultShadow);
    border-radius: var(--uiBorderRadius);
}

@media (max-width: 900px) {
    .main {
        width: 90%;
    }

    .iframeContainer {
        width: 90%;
        height: 80vh;
    }
}