div {
    padding: var(--defaultPadding);
}

div.main {
    padding: 0;
}

div.title {
    padding: 0;
    text-align: center;
    height: 90vh;
    background-image: url(../assets/home/montain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.aboutGame,
div.aboutProject,
div.mechanics {
    width: 60%;
    margin: auto;
}

div.aboutProject {
    text-align: right;
}

div.textToImage {
    padding: 0;
    display: flex;

    align-items: center;
}

img {
    margin: 32px;
    height: 150px;
    border-radius: var(--uiBorderRadius);
}

img.titleLogo {
    margin: auto;
    max-width: 70%;
    height: auto;
}

.mainButtons button {
    margin: 0;
    width: 15%;
}

/* Responsividade para telas menores (ou tentativa)*/
@media (max-width: 900px) {

    div.aboutGame,
    div.aboutProject,
    div.mechanics {
        width: 90%;
    }

    div.textToImage {
        flex-direction: column;
        align-items: flex-start;
    }

    img {
        margin: 16px 0;
        width: 100%;
        height: auto;
        align-self: center;
    }

    .mainButtons button {
        width: 40%;
    }
}

@media (max-width: 600px) {
    div.title {
        height: auto;
        padding: 40px 10px;
        background-size: cover;
    }

    div.aboutGame,
    div.aboutProject,
    div.mechanics {
        width: 90%;
        padding: 10px;
    }

    ul.nav {
        display: grid;
        margin: 0;
        padding: 0;
        overflow-wrap: break-word;
    }
}