* {
    box-sizing: border-box;
}

div.downloadMain {
    padding: 0;
}

.downloadMain h1 {
    color: var(--highlightColor2);

    border-left: 4px solid var(--highlightColor2);
    padding-left: 0.6rem;
}

.downloadBox {
    box-shadow: 0 4px 24px var(--defaultShadowColor);
    background: var(--windowBackground);
    border-radius: var(--uiBorderRadius);
    padding: var(--defaultDivPadding);
    width: 70%;
    margin: var(--defaultMargin) auto;
}

.downloadBox h2 {
    color: var(--highlightColor);
    margin-bottom: 16px;

}

.downloadBox p {
    margin-bottom: 32px;

    color: #fff;
}

.downloadBtn {
    background: linear-gradient(90deg, var(--highlightColor), var(--highlightColor2));
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    margin: var(--defaultMargin) auto var(--defaultMargin);
    display: block;
}

.downloadBtn:hover {
    filter: brightness(70%);
}

.requisitos {
    background: #18123a;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    color: #fff;
    text-align: left;
}

.requisitos h3 {
    color: var(--highlightColor2);
    margin-bottom: 8px;

    border-left: 4px solid var(--highlightColor2);
    padding-left: 0.6rem;
}

.requisitos ul {
    margin: 0;
    padding-left: 18px;
}

.profileLinks {
    flex-direction: row;
    text-align: center;
}

@media (max-width: 900px) {
    .downloadBox {
        width: 90%;
        padding: 32px;
    }

    .downloadBtn {
        width: 100%;
    }
}

@media (max-width: 1366px) {
    .downloadBox {
        width: 85%;
    }
}