div {
    padding: var(--defaultPadding);
}

div.main {
    padding: 0;
}

div.title {
    padding: 0;
    text-align: center;
    height: 90vh;
    background-image: url(../assets/home/montain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.aboutGame,
div.aboutProject,
div.mechanics {
    width: 60%;
    margin: auto;
}

/*
div.aboutGame {
    background-image: url(../assets/home/arch.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
*/

div.aboutProject {
    text-align: right;
}

div.textToImage {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.backgroundDiv {
    padding: 0;

    background-image: url(../assets/home/cavern_v2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    height: 200px;
    border-radius: var(--uiBorderRadius);
}

img.titleLogo {
    margin: auto;
    max-width: 70%;
    height: auto;
    object-fit: contain;
}

.mainButtons button {
    margin: 0;
    width: 15%;
}

p {
    text-indent: 2cm;
}

/* Responsividade para telas menores (ou tentativa)*/
@media (max-width: 900px) {

    div.aboutGame,
    div.aboutProject,
    div.mechanics {
        width: 90%;
    }

    div.textToImage {
        flex-direction: column;
        align-items: flex-start;
    }

    img {
        margin: 16px 0;
        width: 100%;
        height: auto;
        align-self: center;
    }

    .mainButtons button {
        width: 47%;
    }
}

@media (max-width: 600px) {
    div.title {
        height: 60vh;
        padding: 40px 10px;
        background-size: cover;
    }

    img.titleLogo {
        max-width: 100%;
    }

    div.aboutGame,
    div.aboutProject,
    div.mechanics {
        width: 90%;
        padding: 10px;
    }
}